@charset "utf-8";
/* CSS Document */


.col-xs-2-new
{
	padding:0;
	margin:0;
}


.col-xs-9-new
{
	padding:0;
	margin:0;
	width:83.333% !important;
}

.col-sm-3-new
{
width:16.6% ;	
}

ul#items{		
		
		width:100%;
		float:left;
		list-style:none;
		
		}

#pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
	float:right;
	text-align:right;
	
}

#pagination > li{
    border: 0 none;
    color: #e89436;
    font-weight: normal;
    
	float:left;
	
}


#pagination > li > a, #pagination > li {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #28377f;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 1px 5px;
    position: relative;
    text-decoration: none;
}
ol#pagination{overflow:hidden;}
	ol#pagination li{
		float:left;
		list-style:none;
		cursor:pointer;
		margin:0 0 0 .3em;
		}
	ol#pagination li.current{color:#f00;font-weight:normal;}
	

.list-view ul li:first-child {
    border-color:;
	margin: 0 7px 20px;
   
}
.nav > li > a {
    display: block;
    padding: 4px 14px !important;
    position: relative;
}

.col-sm-9 .profile-list .nbs-flexisel-inner {
    padding-left: 0 !important;
}

.form-control
{
	height:28px;
	 padding: 4px 12px;
}

.tileF
{
	 padding: 4px 0 !important;
}

.form-group
{
	 margin-bottom: 2px;
}
.singnuplbl
{
	 line-height:35px;
}
.singnupdiv
{
	margin:5px 0;
}
.incomecbx
{
	padding-top:7px ;
	text-align:right;
}

.modal-dialogcnt {
    width: 850px;
}
.lableforstatusm
{
	padding-left:0 !important;
	padding-right:8 !important;
}
.newulclass
{

	list-style:none; padding-left:0;
	padding: 0 5px;
}

.form-control
{font-size: 13px !important;}

body
{background: #eee;}

.col-xs-4-matri
{
	width:26.22%;
	float:right;
}
.col-sm-3-matri {
    width: 18%;
	float:right;
}
.col-xs-2-member
{
 	width:30%;
	float:left;
}
.col-xs-3-member
{
 	width:70% !important;
	float:right;
        height: 16px;
}
.moreimgthamb
{
	border:1px #FFF solid;
}
.moreimgthambdeleat
{
	border:1px #FFF solid;
	height:180px;
	width:100%;
}

.moreimage
{
	background: #333 none repeat scroll 0 0; height: 80px; opacity: 0.5; position: absolute; top: 0; width: 100%; font-size:28px; text-align:center; vertical-align:middle;
	color:#fff; padding-top:20px;
	
}

.deleteimg
{
	height: 30px; float:right; display:none; position: absolute; top: 0; left:0; width: 30px; text-align:right; vertical-align:middle;
	color:#fff; padding-top:2px; cursor:pointer;
	
}


.thumbnail{
position: relative;
z-index: 0;
border:none !important;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
background-color: lightyellow;
    
    box-shadow: 2px 2px 6px 2px;
    color: black;
    left: -1000px;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    visibility: hidden;

}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
max-width:400px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}

.moreimgthamb1
{
	width:100%; 
	height:140px;
}

.moreimgthamb2
{
	width:100%; 
	height:80px;
}

.addslyder
{
width:95%; padding-left:67px !important;	
}

.cssmobile
{
	display:none;
}

.cssfull

{
display:block;	
}

.futtornew
{
	background:none;
	
}

.futtornew:hover
{
	background:#ccc;
	color:#fff;
	padding-bottom:5px;
	
}
.profielvewheading
{
	background:url(../images/profiel_viewicon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}
.viewprofielcontant
{
	background:url(../images/profieviewline.jpg) repeat-y;
	padding-left:60px;
	margin:10px 0;
	font-size:11px;
	text-align:justify;
	
}

.lifestyleheading
{
	background:url(../images/life_styleicon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}

.backgroundheading
{
	background:url(../images/background_icon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}

.personalprofileheading
	{
		background:url(../images/personal_profileicon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	}
	
	.educatinheading
{
	background:url(../images/eduction_icon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}

.maritalheading
{
	background:url(../images/matrimoni_icon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}

.horoscopeheading
{
	background:url(../images/horoscope_icon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}


.familyheading
{
	background:url(../images/familey_icon.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}

.hobbiesheading
{
	background:url(../images/hobbies.jpg) no-repeat;
	padding-left:60px;
	height:45px;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	
	
}

.iconbullate
{
	background:url(../images/arow_matri.jpg) no-repeat;
	padding-left:20px;
	height:13px;
	font-size:11px;
	
	line-height:15px;
	
	
}

.matrimony_icon1
{
	background:url(../images/age_icon.jpg) no-repeat;
	padding-left:30px;
	height:17px;
	font-size:11px !important;
	font-weight:normal;
	line-height:17px;
	margin-bottom:5px;
	
}

.matrimony_icon2
{
	background:url(../images/marrid_icon.jpg) no-repeat;
	padding-left:30px;
	height:17px;
	font-size:11px !important;
	font-weight:normal;
	line-height:17px;
	margin-bottom:5px;
	
}
	
	
.matrimony_icon3
{
	background:url(../images/relison_icon.jpg) no-repeat;
	padding-left:30px;
	height:17px;
	font-size:11px !important;
	font-weight:normal;
	line-height:17px;
	
	margin-bottom:5px;
}

.matrimony_icon4
{
	background:url(../images/icon5.jpg) no-repeat;
	padding-left:30px;
	height:17px;
	font-size:11px !important;
	font-weight:normal;
	line-height:17px;
	margin-bottom:5px;
	
	
}

.matrimony_icon5
{
	background:url(../images/education_icon.jpg) no-repeat;
	padding-left:30px;
	height:17px;
	font-size:11px !important;
	font-weight:normal;
	line-height:17px;
	margin-bottom:5px;
	
}

.matrimony_icon6
{
	background:url(../images/location_icon.jpg) no-repeat;
	padding-left:30px;
	height:17px;
	font-size:11px !important;
	font-weight:normal;
	line-height:17px;
	margin-bottom:5px;
	
}

.matrimony_arow
{
	background:url(../images/arow_matrimonyprofile.jpg) no-repeat;
	padding-left:30px !important;
	height:auto;
	font-size:11px !important;
	font-weight:normal;
	line-height:13px;
	margin:5px;
	
}

p {
    margin: 0 0 5px !important;
}

h5, .h5 {
    font-size: 12px !important;
}

.col-sm-2profilevew{

float: left;
    line-height: 20px;
    width: 25%;
}
.col-sm-3profileview
{
	float: left;
    line-height: 20px;
    width: 25%;
}

.contactdetail {
    font-size: 11px !important;
    line-height: 15px !important;
    padding: 2px 10px !important;
	border-radius:3px !important;
}

.col-lg-2fee
{
	width:20%;
}

.upcoming-events h2
{
 color:#4b1909 !important;	
}

p h2
{
 color:#4b1909 !important;	
}

.wedth60per
{
	width:63% !important;
}

.right_img
{
width:203px;
margin-right:5px !important;
margin-top:10px !important;	
}

.imgheight
{
	height:90px !important;
}

/*for menu-new*/
/*ul#horizontal, #horizontal ul  {
list-style-type: none;
margin: 0;
padding: 0;
z-index:999;
}

#horizontal li {
float: left;  
}
#horizontal {
height: ;
float: left;
width:100%;
}
#horizontal a:visited {
font-weight: normal;
background-color: ;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}
#horizontal a:link, div.horizontal a:visited {
font-weight: normal;
background-color: ;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}
#horizontal a {
display: block;
line-height:;
  padding:5px 15px;
    color: #333;
    font: 12px;
    text-decoration: none;
    

    
}

#horizontal a:hover {
color: #fff;
background:#333;

}*/

/*#horizontal li.hideshow ul{
position:absolute;
background: #f3f3f3;
display:none;
width:100%;
right:0;
padding-left:50px;

}
*/

/*
#horizontal li.hideshow ul {
    background: #f3f3f3 none repeat scroll 0 0;
    display: none;
    margin-left: 0;
    margin-top: 119px;
    
    position: fixed;
    right: 0;
    top: 43px;
    width: 100%;
}

#horizontal li.hideshow
{
position:relative;
}*/


/*for menu*/

.dropdown-menu li {
    width:100%;
	float:left;
	text-align:lef !important;
}
.mobile 
{
	display:none;
}
.mobilenew 
{
	display:none;
}

@media only screen and (max-width:768px){
.forslyder
{
 width:45% !important;
 float:none;
 text-align:center;
margin-left:28% !important;	
}
.mobilenew
{
	display:block;
}

.mobile 
{
	display:block;
}

.mobile li
{
	float:left;
}


.dropdown-menu > li > a {
    color: #666;
    line-height: 20px;
    padding: 3px 10px;
}

/*#horizontal a {
display: block;
line-height:;
  padding:5px 12px;
    color: #333;
    font: 12px;
    text-decoration: none;
    

    
}
*/
.nav > li > a {
    display: block;
    padding: 4px 3px !important;
    position: relative;
	
}



.right_img
{
width:95%;
float:none;	
}

.wedth60per
{
	width:100% !important;
}
	
.col-lg3fee
{
width:33%;
float:left;	
}

.col-sm-12fee
{
padding:0;	
}
	
	.cssmobile
{
	display:block;
}

.cssfull

{
display:none;	
}
	
.addslyder
{
width:95%; padding-left:0 !important;	
}	
.col-sm-3-new
{
width:100% ;	
}
.googletranslate
{
	display:none;
}

.modal-dialogcnt {
    width: 92%;
}

.col-xs-3-member
{
 	width:10% !important;
	float:right;
}
	.col-xs-2-member
{
 	width:100%;
	float:left;
}
	
	.col-xs-4-matri
{
	width:100%;
	float:right;
}
.col-sm-3-matri {
    width: 100%;
	float:right;
}

.col-sm-mobile
{
 width:20% !important;
 float:left !important;
 
}

.col-sm-mobile1
{
 width:50% !important;
 float:left;
 padding-left:5px !important;
 padding-right:5px !important;	
}
.imgheight
{
	height:40px !important;
}

header ul.nav-top li {
    display: inline-table;
    float: left;
    font-size: 9px;
    margin: 2px auto;
    padding: 0 5px;
    width: 80px;
}

}


/*Site add Styles*/
.sightcont {position:relative; display:block; width:100%;} 
.sightinc {position:relative; overflow:hidden; margin-bottom:20px;} 

.sdes{}
.sdes h3{ font-size:17px; text-transform:uppercase; color:#a8130d;}
.sdes p{font-size:14px; text-transform:uppercase; color:#bb292a; font-weight:bold;}
.sdes span{font-size:14px; text-transform:uppercase; color:#000; text-align:left;  font-weight:normal;}
 
.sremove, .sadd{text-align: center; font-size: 11px; cursor: pointer; margin-top: 5px; background-color:#a8130d;
 border:1px solid #a40d06; font-weight:bold; color: #FFFFFF; display:inline-block; padding:3px 10px; border-radius:3px; text-decoration:none;}
.sremove:hover, .sadd:hover{ background-color:#970b05; color: #FFFFFF;}

.mbot20{ margin:5px; border:1px solid #ccc; padding-bottom:5px; padding-top:5px;

}
.mbot22
{
	float:left;
	padding:5px;
	width:23.666% !important;
	
}

#sidebar-wrapper {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    padding: 15px;
    position: absolute;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}


.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width:100%;
	margin-top:270px;

	
	}
.sidebar-nav li {
    line-height: 40px;

}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {

   
   
    color: #000;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size:13px;
    height: 65px;
    line-height:30px;
	text-align:left;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
}


.form-control1 {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
     height: 28px;
    padding: 4px 12px;
    line-height: 1.42857;
   
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#banner-load img
{
 width:100%;
 height:90px;	
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 3px;
    margin-right: 21px !important;
    margin-top: 3px;
    padding: 1px;
    position: relative;
}

.iconmenu
{
background:url(../images/menu_icon.png) no-repeat;
height:16px; width:16px;	
}

#result
    {
        position:absolute;
       
		width:300px;
        padding:0;
        display:none;
        margin-top:-1px;
        border-top:0px;
        overflow:hidden;
        border:1px #CCC solid;
        background-color: white;
		z-index: 9999;
        
    }

 .result
    {
        position:absolute;
        width:300px;
        padding:0;
        display:none;
        margin-top:-1px;
        border-top:0px;
        overflow:hidden;
        border:1px #CCC solid;
        background-color: white;
        z-index: 9999;
    }
	#result_user
    {
        position:absolute;
       
		width:300px;
        padding:0;
        display:none;
        margin-top:-1px;
        border-top:0px;
        overflow:hidden;
        border:1px #CCC solid;
        background-color: white;
        z-index: 9999;
    }
	
   .show
    {
        padding:10px; 
        border-bottom:1px #999 dashed;
        font-size:11px;
		color:#000;
       
    }
    .show:hover
    {
        background:#4c66a4;
        color:#fff;
        cursor:pointer;
    }
    
    .lilink
    {
       background: #eda344 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
     display: block;
    padding: 4px 14px !important;
    position: relative;
    cursor: pointer; 
    }
    
     .lilink:hover
    {
       background: #ab6007 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
     display: block;
    padding: 4px 14px !important;
    position: relative;
    cursor: pointer; 
    }
    
     .linikactive
    {
       background: #ab6007 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
     display: block;
    padding: 4px 14px !important;
    position: relative;
    cursor: pointer; 
    }